<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>



<h:body>

	<ui:composition>
		<p:dataTable id="tableLeaveRequests" var="leaveRequest"
			widgetVar="LeaveRequestTable"
			emptyMessage="Keine Urlaubsanträge bei dieser Filterung."
			filteredValue="#{allLeaveRequestBean.filteredRequests}"
			filterBy="#{allLeaveRequestBean.filterBy}"
			value="#{allLeaveRequestBean.allLeaveRequests}"
			rowKey="#{leaveRequest.id}"
			selection="#{allLeaveRequestBean.selectedLeaveRequest}"
			selectionMode="single" paginator="true" rows="10"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			currentPageReportTemplate="{startRecord}-{endRecord} von {totalRecords} Anträgen"
			rowsPerPageTemplate="10,25,50,{ShowAll|'All'}">
			<p:column field="employee" headerText="Mitarbeiter"
				filterMatchMode="exact"
				sortBy="#{leaveRequest.employeeData.employee.firstname} #{leaveRequest.employeeData.employee.lastname} (#{leaveRequest.employeeData.employee.employeeId})"
				filterBy="#{leaveRequest.employeeData.employee.firstname} #{leaveRequest.employeeData.employee.lastname} (#{leaveRequest.employeeData.employee.employeeId})">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('LeaveRequestTable').filter()"
						styleClass="custom-filter">
						<f:selectItem itemLabel="All" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{allLeaveRequestBean.employeeNames}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText
					value="#{leaveRequest.employeeData.employee.firstname} #{leaveRequest.employeeData.employee.lastname} (#{leaveRequest.employeeData.employee.employeeId})">
					<f:convertDateTime type="localDateTime" dateStyle="long" />
				</h:outputText>
			</p:column>
			<p:column headerText="Urlaubsantrag gestellt am"
				sortBy="#{leaveRequest.submitDate}">
				<h:outputText value="#{leaveRequest.submitDate}">
					<f:convertDateTime type="localDateTime" dateStyle="long"
						pattern="dd.MM.yyyy 'um' HH:mm" />
				</h:outputText>
			</p:column>
			<p:column headerText="Urlaub von" style="text-align: right;">
				<h:outputText value="#{leaveRequest.leaveFrom}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
			</p:column>
			<p:column headerText="bis" style="text-align: left;">
				<h:outputText value="#{leaveRequest.leaveTo}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
			</p:column>
			<p:column headerText="Urlaubstage" style="text-align: center;">
				<h:outputText value="#{leaveRequest.leaveDays}" />
			</p:column>
			<p:column field="requestState" headerText="Status"
				filterBy="#{leaveRequest.requestState}">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('LeaveRequestTable').filter()"
						styleClass="custom-filter">
						<f:selectItem itemLabel="All" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{allLeaveRequestBean.requestStates}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{leaveRequest.requestState}"
					class="customer-badge status-#{leaveRequest.requestState.toString().toLowerCase()}" />
			</p:column>
		</p:dataTable>

		<p:contextMenu for="tableLeaveRequests">
			<p:menuitem value="View" update="leaveRequestDetail"
				icon="pi pi-search" oncomplete="PF('leaveRequestDialog').show()" />
		</p:contextMenu>

		<p:dialog header="Urlaubsantrag im Detail"
			widgetVar="leaveRequestDialog" modal="true" showEffect="fade"
			hideEffect="fade" resizable="false">
			<p:outputPanel id="leaveRequestDetail" deferred="true">
				<p:panelGrid layout="grid" columns="2">
					<f:facet name="header">
						<h:outputText
							value="#{allLeaveRequestBean.selectedLeaveRequest.employeeData.employee.firstname} #{allLeaveRequestBean.selectedLeaveRequest.employeeData.employee.lastname} (Mitarbeiter-ID: #{allLeaveRequestBean.selectedLeaveRequest.employeeData.employee.employeeId})" />
						<p:divider />
					</f:facet>
					<h:outputText value="Urlaubsantrag vom" />
					<h:outputText
						value="#{allLeaveRequestBean.selectedLeaveRequest.submitDate}">
						<f:convertDateTime type="localDateTime" dateStyle="long"
							pattern="dd.MM.yyyy 'um' HH:mm" />
					</h:outputText>

					<h:outputText value="Urlaub von" />
					<h:outputText
						value="#{allLeaveRequestBean.selectedLeaveRequest.leaveFrom}"
						styleClass="leaveRequest-price">
						<f:convertDateTime type="localDate" />
					</h:outputText>

					<h:outputText value="bis" />
					<h:outputText
						value="#{allLeaveRequestBean.selectedLeaveRequest.leaveTo}"
						styleClass="leaveRequest-price">
						<f:convertDateTime type="localDate" />
					</h:outputText>

					<h:outputText value="Urlaubstage" />
					<h:outputText
						value="#{allLeaveRequestBean.selectedLeaveRequest.leaveDays}"
						styleClass="leaveRequest-price">
					</h:outputText>

					<h:outputText value="verbleibender Urlaubsanspruch" />
					<h:outputText
						value="#{allLeaveRequestBean.previewRemainingLeaveUnconfirmed()}"
						styleClass="leaveRequest-price">
					</h:outputText>

					<h:outputText value="Status" />
					<h:outputText
						value="#{allLeaveRequestBean.selectedLeaveRequest.requestState}"
						class="customer-badge status-#{allLeaveRequestBean.selectedLeaveRequest.requestState.toString().toLowerCase()}" />

					<f:facet name="footer">
						<p:divider />

						<p:panelGrid layout="grid" columns="2">
							<f:facet name="header">
								<p:inputTextarea placeholder="Begründung bei Ablehnung hier eintragen ..." style="width: 100%; margin-top: 1rem;" value="#{allLeaveRequestBean.selectedLeaveRequest.statement}"/>
							</f:facet>
							<p:commandButton type="button" styleClass="ui-button-danger"
								value="Ablehnen" icon="pi pi-times"
								action="#{allLeaveRequestBean.rejectedLeaveRequest}" update="tableLeaveRequests messages">
								<p:confirm header="Bestätigen"
									message="Soll dieser Urlaubsantrag wirklich abgelehnt werden?" />
							</p:commandButton>
							<p:commandButton type="button" styleClass="ui-button-success"
								value="Genehmigen" icon="pi pi-check"
								action="#{allLeaveRequestBean.approveLeaveRequest()}" update="tableLeaveRequests messages">
							</p:commandButton>
						</p:panelGrid>
					</f:facet>
				</p:panelGrid>


			</p:outputPanel>
		</p:dialog>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true" width="350">
			<p:commandButton value="Nein" type="button"
				styleClass="ui-confirmdialog-no ui-button-flat" />
			<p:commandButton value="Ja" type="button"
				styleClass="ui-confirmdialog-yes" />
		</p:confirmDialog>
	</ui:composition>
</h:body>

</html>
