<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>



<h:body>

	<ui:composition>

		<p:dataTable id="tableLeaveRequests" var="leaveRequest"
			value="#{empBean.currentEmpLeaveRequests}"
			rowKey="#{leaveRequest.id}"
			selection="#{empBean.selectedLeaveRequest}" selectionMode="single">
			<f:facet name="header">
                Resturlaub: #{empBean.remainingLeaveDays()} ( Resturlaub abzüglich unbestätigter Anträge: #{empBean.remainingLeaveDaysUncon})
            </f:facet>
			<p:column headerText="Urlaubsantrag gestellt am">
				<h:outputText value="#{leaveRequest.submitDate}">
					<f:convertDateTime type="localDateTime" dateStyle="long"
						pattern="dd.MM.yyyy 'um' HH:mm" />
				</h:outputText>
			</p:column>
			<p:column headerText="Urlaub von" style="text-align: right;">
				<h:outputText value="#{leaveRequest.leaveFrom}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
			</p:column>
			<p:column headerText="bis" style="text-align: left;">
				<h:outputText value="#{leaveRequest.leaveTo}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
			</p:column>
			<p:column headerText="Urlaubstage">
				<h:outputText value="#{leaveRequest.leaveDays}" />
			</p:column>
			<p:column headerText="Status">
				<h:outputText value="#{leaveRequest.requestState}"
					class="customer-badge status-#{leaveRequest.requestState.toString().toLowerCase()}" />
			</p:column>
		</p:dataTable>

		<p:contextMenu for="tableLeaveRequests">
			<p:menuitem value="View" update="leaveRequestDetail"
				icon="pi pi-search" oncomplete="PF('leaveRequestDialog').show()" />
			<p:menuitem value="Delete" update="tableLeaveRequests messages"
				action="#{empBean.delete}" icon="pi pi-trash">
				<p:confirm header="Bestätigen"
					message="Willst du diesen Urlaubsantrag wirklich löschen?" />
			</p:menuitem>

		</p:contextMenu>

		<p:dialog header="Urlaubsantrag im Detail"
			widgetVar="leaveRequestDialog" modal="true" showEffect="fade"
			hideEffect="fade" resizable="false">
			<p:outputPanel id="leaveRequestDetail" deferred="true">
				<p:panelGrid layout="grid" columns="2">
					<f:facet name="header">
						<h:outputText
							value="#{empBean.selectedLeaveRequest.employeeData.employee.firstname} #{empBean.selectedLeaveRequest.employeeData.employee.lastname} (Mitarbeiter-ID: #{empBean.selectedLeaveRequest.employeeData.employee.employeeId})" />
						<p:divider />
					</f:facet>
					<h:outputText value="Urlaubsantrag vom" />
					<h:outputText value="#{empBean.selectedLeaveRequest.submitDate}">
						<f:convertDateTime type="localDateTime" dateStyle="long"
							pattern="dd.MM.yyyy 'um' HH:mm" />
					</h:outputText>

					<h:outputText value="Urlaub von" />
					<h:outputText value="#{empBean.selectedLeaveRequest.leaveFrom}"
						styleClass="leaveRequest-price">
						<f:convertDateTime type="localDate" />
					</h:outputText>

					<h:outputText value="bis" />
					<h:outputText value="#{empBean.selectedLeaveRequest.leaveTo}"
						styleClass="leaveRequest-price">
						<f:convertDateTime type="localDate" />
					</h:outputText>

					<h:outputText value="Urlaubstage" />
					<h:outputText value="#{empBean.selectedLeaveRequest.leaveDays}"
						styleClass="leaveRequest-price">
					</h:outputText>

					<h:outputText value="verbleibender Urlaubsanspruch" />
					<h:outputText value="#{empBean.remainingLeaveDaysUncon}"
						styleClass="leaveRequest-price">
					</h:outputText>

					<h:outputText value="Status" />
					<h:outputText value="#{empBean.selectedLeaveRequest.requestState}"
						class="customer-badge status-#{empBean.selectedLeaveRequest.requestState.toString().toLowerCase()}" />

					<f:facet name="footer">
						<p:divider />

						<p:panelGrid layout="grid" columns="2">
							<f:facet name="header">
								<p:outputPanel style="width: 100%; margin-top: 1rem;"
									value="#{empBean.selectedLeaveRequest.statement}" />
							</f:facet>
							<p:commandButton styleClass="ui-button-danger"
								value="Antrag löschen" icon="pi pi-trash"
								action="#{empBean.delete}" update="tableLeaveRequests messages" oncomplete="PF('leaveRequestDialog').hide()"
								disabled="#{empBean.selectedLeaveRequest.requestState.toString() == 'APPROVED'}">
								<p:confirm header="Bestätigen"
									message="Willst du diesen Urlaubsantrag wirklich löschen?" />
							</p:commandButton>
						</p:panelGrid>
					</f:facet>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>

		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true" width="350">
			<p:commandButton value="Ja" type="button"
				styleClass="ui-confirmdialog-yes ui-button-outlined" />
			<p:commandButton value="Nein" type="button"
				styleClass="ui-confirmdialog-no" />
		</p:confirmDialog>
	</ui:composition>
</h:body>

</html>
