<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<ui:composition>
		<p:panel id="panelNewLeaveRequest" header="Urlaubsantrag erstellen">
			<p:panelGrid id="newRequestForm" layout="grid" columns="2">
				<p:panelGrid layout="grid" columns="2">
					<p:outputLabel value="Zeitraum wählen:" />
					<p:datePicker id="range" selectionMode="range"
						value="#{leaveRequestBean.range}" readonlyInput="true"
						mindate="#{leaveRequestBean.minDate}"
						disabledDays="#{leaveRequestBean.invalidDays}">
						<p:ajax event="dateSelect"
							listener="#{leaveRequestBean.onDateSelect}"
							update="panelNewLeaveRequest" />
					</p:datePicker>

					<p:outputLabel value="Anzahl der Urlaubstage:" />
					<p:outputLabel value="#{leaveRequestBean.currentleaveDays}" />
				</p:panelGrid>
				<p:panelGrid layout="grid" columns="2">
					<p:outputLabel style="text-align: right;"
						value="verbleibender Resturlaub:" />
					<p:outputLabel value="#{leaveRequestBean.previewRemainingLeave()}" />

					<p:outputLabel
						value="verbleibender Resturlaub abzüglich unbestätigter Anträge:" />
					<p:outputLabel
						value="#{leaveRequestBean.previewRemainingLeaveUnconfirmed()}" />

					<p:outputLabel />
					<p:commandButton value="Urlaubsantrag abschicken"
						action="#{leaveRequestBean.saveLeaveRequest}"
						update="panelNewLeaveRequest messages mainMenuBar" />
				</p:panelGrid>

			</p:panelGrid>
		</p:panel>
	</ui:composition>


</h:body>

</html>
