<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>


<h:body>
	<ui:composition>
		<p:panelGrid columns="2" layout="grid">
			<p:panelGrid columns="2">
				<h:outputText value="Mitarbeiter-ID:" />
				<h:outputText value="#{empBean.currentEmp.employeeId}" />
				<h:outputText value="Vorname:" />
				<h:outputText value="#{empBean.currentEmp.firstname}" />
				<h:outputText value="Nachname:" />
				<h:outputText value="#{empBean.currentEmp.lastname}" />
				<p:divider />
				<p:divider />
				<h:outputText value="Geburtstag:" />
				<h:outputText value="#{empBean.currentEmp.employeeData.dob}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
				<h:outputText value="Adresse:" />
				<h:outputText
					value="#{empBean.currentEmp.employeeData.address.street} #{empBean.currentEmp.employeeData.address.streetNumber}, #{empBean.currentEmp.employeeData.address.postcode} #{empBean.currentEmp.employeeData.address.city}" />
				<h:outputText value="E-Mail:" />
				<h:outputText value="#{empBean.currentEmp.employeeData.email}" />

			</p:panelGrid>
			<p:panelGrid columns="2">

				<h:outputText value="eingestellt am:" />
				<h:outputText value="#{empBean.currentEmp.employeeData.dayOfHire}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
				<h:outputText
					rendered="#{empBean.currentEmp.employeeData.temporaryEmployment}"
					value="Befristet bis:" />
				<h:outputText
					rendered="#{empBean.currentEmp.employeeData.temporaryEmployment}"
					value="#{empBean.currentEmp.employeeData.temporaryEmploymentTo}">
					<f:convertDateTime type="localDate" />
				</h:outputText>
				<h:outputText value="Gehalt:" />
				<h:outputText value="#{empBean.currentEmp.employeeData.salary}" />
				<p:divider />
				<p:divider />
				<h:outputText value="Kranktage:" />
				<h:outputText
					value="#{empBean.currentEmp.employeeData.daysOfIllness}" />

				<h:outputText value="vertragliche Urlaubstage:" />
				<h:outputText
					value="#{empBean.currentEmp.employeeData.leaveEntitlementPerAnnum}" />
				<h:outputText value="genommene Urlaubstage:" />
				<h:outputText value="#{empBean.currentEmp.employeeData.takenLeave}" />

			</p:panelGrid>
		</p:panelGrid>
	</ui:composition>
</h:body>

</html>
