<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style type="text/css">
body .ui-clock {
	float: right;
	background: none !important;
	border: 0 !important;
	padding: 0 !important;
}

.main-panel {
	width: 90%;
	margin: 2rem auto;
}

.footerClass {
	font-size: 0.8rem;
	text-align: center;
	margin: 0 auto;
}

.customer-badge {
	border-radius: 2px;
	padding: .25em .5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;
}

.customer-badge.status-approved {
	background-color: #C8E6C9;
	color: #256029;
}

.customer-badge.status-rejected {
	background-color: #FFCDD2;
	color: #C63737;
}

.customer-badge.status-unconfirmed {
	background-color: #FEEDAF;
	color: #8A5340;
}
</style>
	<script type="text/javascript">
		PrimeFaces.locales['de'] = {
			closeText : 'Schließen',
			prevText : 'Zurück',
			nextText : 'Weiter',
			monthNames : [ 'Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
					'Juli', 'August', 'September', 'Oktober', 'November',
					'Dezember' ],
			monthNamesShort : [ 'Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
					'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez' ],
			dayNames : [ 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch',
					'Donnerstag', 'Freitag', 'Samstag' ],
			dayNamesShort : [ 'Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam' ],
			dayNamesMin : [ 'S', 'M', 'D', 'M ', 'D', 'F ', 'S' ],
			weekHeader : 'Woche',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Nur Zeit',
			timeText : 'Zeit',
			hourText : 'Stunde',
			minuteText : 'Minute',
			secondText : 'Sekunde',
			currentText : 'Aktuelles Datum',
			ampm : false,
			month : 'Monat',
			week : 'Woche',
			day : 'Tag',
			allDayText : 'Ganzer Tag',
			today : 'Heute',
			clear : 'Löschen'
		};
	</script>
</h:head>



<h:body>

	<h:form>
		<p:growl id="messages" showDetail="true" escape="false" />
		<p:panel styleClass="main-panel">
			<f:facet name="header">
				<h:outputText value="Mitarbeiterverwaltung" />
				<p:clock pattern="dd.MM.yyyy HH:mm" />
			</f:facet>
			<p:menubar id="mainMenuBar">
				<p:submenu label="Profil" icon="pi pi-fw pi-user">
					<p:menuitem value="Profil ansehen"
						action="#{subpageBean.setSubUrl('/subpages/showProfil.xhtml')}"
						update="subPagePanel" icon="pi pi-fw pi-eye" />
					<p:menuitem value="Passwort ändern" icon="pi pi-fw pi-user-edit" />
				</p:submenu>

				<p:submenu label="Urlaub" icon="pi pi-fw pi-calendar">
					<p:menuitem value="Antrag stellen"
						action="#{subpageBean.setSubUrl('/subpages/newLeaveRequest.xhtml')}"
						update="subPagePanel" icon="pi pi-fw pi-plus" />
					<p:menuitem value="Anträge verwalten"
						action="#{subpageBean.setSubUrl('/subpages/empLeaveRequests.xhtml')}"
						update="subPagePanel" icon="pi pi-fw pi-pencil" />
				</p:submenu>

				<p:submenu label="Krankmeldung" icon="pi pi-fw pi-plus-circle">
					<p:menuitem value="AU hochladen" icon="pi pi-fw pi-plus" />
					<p:menuitem value="Krankmeldung" icon="pi pi-fw pi-pencil" />
				</p:submenu>

				<p:divider layout="vertical" />

				<p:submenu
					rendered="#{empBean.currentEmp.authorisation == 'SUPERVISOR'}"
					label="Mitarbeiterverwaltung" icon="pi pi-fw pi-users">
					<p:menuitem
						action="#{subpageBean.setSubUrl('/subpages/allLeaveRequests.xhtml')}"
						update="subPagePanel" icon="pi pi-fw pi-check-square">
						<p:badge value="#{allLeaveRequestBean.unconfirmedLeaveRequests}">
							<h:outputText value="Urlaubsanträge" />
						</p:badge>
					</p:menuitem>
					<p:menuitem icon="pi pi-fw pi-calendar-plus">
						<p:badge value="0">
							<h:outputText value="Krankmeldungen" />
						</p:badge>
					</p:menuitem>
				</p:submenu>
				<p:menuitem
					rendered="#{empBean.currentEmp.authorisation == 'SUPERVISOR'}"
					disabled="true">
					<p:badge value="#{allLeaveRequestBean.unconfirmedLeaveRequests}">
					</p:badge>
				</p:menuitem>
				<f:facet name="options">
					<p:commandButton value="Logout" action="#{loginBean.logout}"
						icon="pi pi-fw pi-sign-out" styleClass="ui-button-info" >
						
						<p:confirm header="Logout" message="Willst du dich wirklich abmelden?"/>
						</p:commandButton>
				</f:facet>
			</p:menubar>

			<p:panel id="subPagePanel">
				<ui:insert name="subPage">
					<ui:include src="#{subpageBean.subUrl}" />
				</ui:insert>
			</p:panel>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				responsive="true" width="350">
				<p:commandButton value="Ja" type="button"
					styleClass="ui-confirmdialog-yes ui-button-outlined" />
				<p:commandButton value="Nein" type="button"
					styleClass="ui-confirmdialog-no " />
			</p:confirmDialog>


			<f:facet name="footer">
				<h:outputText styleClass="footerClass"
					value="cimdata – Java Erweiterungskurs – Projektleiter: Michael Schirmer – Projektarbeit: Ben Borchers – 03.2021" />

			</f:facet>
		</p:panel>

	</h:form>






</h:body>

</html>
