<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style type="text/css">
body {
	background: lightgrey;
}

.loginPanel {
	min-width: 350px;
	width: 30%;
	margin: 5rem auto;
}

body table {
	margin: 0 auto;
}

body .ui-panel .ui-panel-footer {
	background: lightgrey;
	font-size: 0.8rem;
	text-align: center;
	border: 0;
}
</style>
</h:head>


<h:body>

	<h:form id="loginform">
		<p:growl id="messages" showDetail="true" escape="false" />
		<p:panel id="loginPanel" styleClass="loginPanel">
			<f:facet name="header">
				<h:outputText value="Login" />

			</f:facet>
			<h:panelGrid columns="2" style="text-align: right;">

				<h:outputLabel value="Username" />
				<p:inputText id="user_in"
					value="#{loginBean.currentLoggingInUser.username}" />

				<h:outputLabel value="Password" />
				<p:password id="pwd_in"
					value="#{loginBean.currentLoggingInUser.password}" />

				<div />
				<p:commandButton value="Login" action="#{loginBean.login}" update="loginPanel messages"/>


			</h:panelGrid>
			<!--  
			 <div style="text-align: center; background: darkgrey;">
			<div style="margin: 1rem;">
				<h:outputLabel value="Zugangsdaten für Test "/>
			</div>
			<div>
				<p:graphicImage value="img/loginData.png" />
			</div>
			</div>
			-->
			<f:facet name="footer">
				<h:outputText
					value="cimdata – Java Erweiterungskurs – Projektleiter: Michael Schirmer – Projektarbeit: Ben Borchers – 03.2021" />

			</f:facet>
		</p:panel>



	</h:form>






</h:body>

</html>
